---
import { Icon } from "astro-icon";

const projects = await Astro.glob("../data/projects/*.md");
projects.sort((a, b) => a.frontmatter.order - b.frontmatter.order);
---

<section>
  <h2 class="section--heading">Projects</h2>

  <div class="projects-grid">
    {
      projects.map(({ Content, frontmatter }) => (
        <div class="project">
          <div>
            <h3>{frontmatter.title}</h3>

            <Content />
            <ul class="project--technologies">
              {frontmatter.technologies.map(({ name, icon }) => (
                <li>
                  <Icon name={icon} />
                  {name}
                </li>
              ))}
            </ul>
          </div>
          <div class="project--links">
            {frontmatter.links.code && (
              <a href={frontmatter.links.code}>
                View code <Icon name="ic:outline-arrow-circle-right" />
                <span class="visually-hidden">for {frontmatter.title}</span>
              </a>
            )}

            {frontmatter.links.demo && (
              <a href={frontmatter.links.demo}>
                View demo <Icon name="ic:outline-arrow-circle-right" />
                <span class="visually-hidden">for {frontmatter.title}</span>
              </a>
            )}
          </div>
        </div>
      ))
    }
  </div>
</section>

<style lang="scss">
  section {
    width: 1200px;

    .project {
      background-color: var(--slate-700);
      border-radius: 1em;
      margin: 0;
      box-shadow: var(--slate-600) 0 1px 0 0 inset;
      overflow: hidden;

      p {
        font-size: 14pt;
      }
    }

    .project > div {
      padding: 1.25em;
    }

    .project p {
      line-height: 1.5;
    }

    .project h3 {
      margin-top: 0;
    }

    .project--technologies {
      display: inline-block;
      list-style-type: none;
      list-style-position: inside;
      margin: 0;
      padding: 0;
      font-size: 0.9em;

      li {
        display: inline-flex;
        align-items: center;
        background-color: var(--slate-600);
        color: var(--slate-200);
        /* margin: 0 0 0 1em; */
        padding: 0.5em 0.75em;
        border-radius: 0.5em;
        margin-right: 1em;
        font-size: 14px;

        svg {
          color: var(--slate-400);
          height: 16px;
          margin-right: 0.5em;
        }
      }
    }

    .project--links {
      background-color: var(--slate-600);
      box-shadow: var(--slate-700) 0 -1px 0 0 inset;
      border-radius: 0 0 1rem 1rem;
      display: flex;
      gap: 2em;

      a {
        display: inline-flex;
        width: max-content;
        align-items: center;
        text-decoration: none !important;
        position: relative;

        svg {
          margin-left: 0.25em;
          height: 22px;
          vertical-align: bottom;
        }
      }
    }

    .projects-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2em;
    }
  }
</style>
