---
import { Icon } from "astro-icon";
import Section from "@components/Section.astro";

const projects = await Astro.glob("../data/projects/*.md");
const nonDraftProjects = projects.filter(
  (project) => !project.frontmatter.draft
);
nonDraftProjects.sort((a, b) => a.frontmatter.order - b.frontmatter.order);
---

<Section width="large" relative>
  <h2>Projects</h2>

  <div class="grid projects-grid">
    {
      nonDraftProjects.map(({ Content, frontmatter }) => (
        <div class="project-card card shadow-sm">
          <div class="project-card-top flow">
            <h3>{frontmatter.title}</h3>

            <div class="prose">
              <Content />
            </div>
            <ul>
              {frontmatter.technologies.map(({ name, icon }) => (
                <li>
                  <Icon name={icon} />

                  {name}
                </li>
              ))}
            </ul>
          </div>
          <div class="project-card-bottom">
            {frontmatter.links.code && (
              <a
                class="inline-flex w-max items-center relative no-underline project-link text-lg"
                href={frontmatter.links.code}
              >
                View code{" "}
                <Icon class="h-6 ml-1" name="heroicons-outline:external-link" />
                <span class="visually-hidden">for {frontmatter.title}</span>
              </a>
            )}

            {frontmatter.links.demo && (
              <a
                class="inline-flex w-max items-center relative no-underline project-link text-lg"
                href={frontmatter.links.demo}
              >
                View demo{" "}
                <Icon class="h-6 ml-1" name="heroicons-outline:external-link" />
                <span class="visually-hidden">for {frontmatter.title}</span>
              </a>
            )}
          </div>
        </div>
      ))
    }
  </div>
</Section>
