---
import { getCollection } from "astro:content";
import { Icon } from "astro-icon";
import Section from "@components/Section.astro";
import { marked } from "marked";

const unsortedProjects = await getCollection("projects", ({ data }) => {
  return data.draft !== true;
});

const projects = unsortedProjects.sort((a, b) => a.data.order - b.data.order);
---

<Section width="large" relative>
  <h2>Projects</h2>

  <div class="grid projects-grid">
    {
      projects.map(({ data, body }) => {
        return (
          <div class="project-card card shadow-sm">
            <div class="project-card__top flow">
              <h3>{data.title}</h3>

              <div class="prose" set:html={marked.parse(body)} />
              <ul>
                {data.technologies.map(({ name, icon }) => (
                  <li>
                    <Icon name={icon} />
                    <span>{name}</span>
                  </li>
                ))}
              </ul>
            </div>
            <div class="project-card__bottom">
              {data.links.code && (
                <a
                  class="inline-flex items-center relative"
                  href={data.links.code}
                >
                  View code <Icon name="heroicons-outline:external-link" />
                  <span class="visually-hidden">for {data.title}</span>
                </a>
              )}

              {data.links.demo && (
                <a
                  class="inline-flex items-center relative"
                  href={data.links.demo}
                >
                  View demo <Icon name="heroicons-outline:external-link" />
                  <span class="visually-hidden">for {data.title}</span>
                </a>
              )}
            </div>
          </div>
        );
      })
    }
  </div>
</Section>
