---
import BaseLayout from "./Base.astro";
import Section from "@components/Section.astro";
const { frontmatter } = Astro.props;
const { title } = frontmatter;
const url = Astro.url;
const maxWidth = "3xl";
---

<BaseLayout
  frontmatter={Astro.props.frontmatter}
  maxWidth={maxWidth}
  title={title}
>
  <Section class={`w-full max-w-${maxWidth} mt-24 md:px-4 mx-auto`}>
    <h1 class="dark:text-emerald-400 text-emerald-500">{title}</h1>

    <div class="dark:prose-dark prose"><slot /></div>
  </Section>
</BaseLayout>
