---
import BaseLayout from "./Base.astro";
import { Image } from "@astrojs/image/components";
const { data, metaImageData } = Astro.props;
const { title, tags } = data;
import { format } from "date-fns";
import { Icon } from "astro-icon";
const url = Astro.url;
---

<BaseLayout
  title={title}
  metaKeywords={tags}
  metaDescription={data.description}
  metaImageURL={`${url}/meta-image.jpg?title=${metaImageData.title}&description=${metaImageData.description}`}
>
  <header class="post-header">
    <div class="wrapper flow">
      <h1>
        {data.title}
      </h1>
      <div class="post-header__info">
        <Image
          src="/connordowson.webp"
          alt="Connor Dowson"
          height={60}
          width={60}
          quality={100}
          format="webp"
          aspectRatio="1:1"
          fit="cover"
        />

        <div>
          <p class="font-medium">Blog by Connor Dowson</p>

          <time>{format(new Date(data.date), "do MMMM, yyyy")}</time>
        </div>
      </div>
    </div>
  </header>
  <div class="flow flow-space-l region">
    <article class="wrapper prose flow">
      <slot />
    </article>
    <div class="wrapper">
      <div class="share-post shadow-md">
        <p>Share this post</p>
        <ul>
          <li>
            <a
              href={`https://twitter.com/intent/tweet/?text=${data.title}&url=${url}`}
              ><Icon name="simple-icons:twitter" />
            </a>
            <a
              href={`https://www.linkedin.com/sharing/share-offsite/?url=${url}`}
              ><Icon name="simple-icons:linkedin" />
            </a>
            <a
              href={`https://www.reddit.com/submit/?url=${url}&title=${data.title}`}
              ><Icon name="simple-icons:reddit" />
            </a>
            <button
              onclick={`navigator.clipboard.writeText('${url}')`}
              aria-label="Copy this post's url to clipboard"
              ><Icon name="mdi:link-variant" />
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</BaseLayout>
