---
import { Image } from "astro:assets";
import SharePost from "@components/SharePost";
import BaseLayout from "./Base.astro";

const { data, metaImageData } = Astro.props;
const { title, tags } = data;

import { format } from "date-fns";

// import { Icon } from "astro-icon";
const url = Astro.url;
const site = Astro.site;
---

<BaseLayout
  title={title}
  metaKeywords={tags}
  metaDescription={data.description}
  metaImageURL={`${url}/meta-image.jpg?title=${metaImageData.title}&description=${metaImageData.description}`}
  isBlogPost={true}
>
  <!-- Assets to be preloaded -->
  <link
    rel="preload"
    href={`${site}noise.png`}
    as="image"
    fetchpriority="high"
    slot="head"
  />
  <link
    rel="preload"
    href={`${site}post-hero-dark.svg`}
    as="image"
    fetchpriority="high"
    slot="head"
  />
  <link
    rel="preload"
    href={`${site}post-hero-light.svg`}
    as="image"
    fetchpriority="high"
    slot="head"
  />

  <link
    rel="preload"
    href="/fonts/JetBrainsMono-Regular.woff2"
    as="font"
    type="font/woff2"
    crossorigin
    slot="head"
  />

  <header class="post-header">
    <div class="wrapper flow">
      <h1>
        {data.title}
      </h1>
      <div class="post-header__info">
        <Image
          src="/connordowson.webp"
          alt="Connor Dowson"
          height={60}
          width={60}
          quality={100}
          format="webp"
        />

        <div>
          <p class="font-medium">Blog by Connor Dowson</p>

          <time>{format(new Date(data.date), "do MMMM, yyyy")}</time>
        </div>
      </div>
    </div>
  </header>
  <div class="flow flow-space-l region">
    <article class="wrapper prose flow flow-space-s">
      <slot />
    </article>

    <!-- <SharePost url={url} title={title} client:visible /> -->
    <SharePost url={url} title={title} client:load />
  </div>
</BaseLayout>
